<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Notes</a>
    </div>
  </nav>
</header>

<div class = "container">

  <h2>Add a new Note</h2>

  <div class ="col s6">
    <div class="input-field col s6">
      <input id="Title" type="text" #Title>
      <label for="Title">Title</label>
    </div>
    <div class="input-field col s6">
      <i class="material-icons prefix right">mode_edit</i>
      <textarea id="Contenido" type = "text" class="materialize-textarea" #Content></textarea>
          <label for="Contenido">Content</label>
    </div>
  </div>

  <button class="btn waves-effect waves-light" type="submit" name="action" (click)="CreateNote(Title, Content)">Save Note
    <i class="material-icons right">send</i>
  </button>

  <h3>Your Notes</h3>


  <ul class="collapsible" data-collapsible = "expandable">
    <ng-container *ngFor = "let Titles of Titulos">
      <li>
        <div class="collapsible-header">{{Titulos}}<i class="material-icons"></i></div>
        <div class="collapsible-body"><span>{{Notas}}</span></div>
      </li>
    </ng-container>
  </ul>
</div>
